fastapi[all]>=0.70.1
pydantic
PyYAML
requests
starlette>=0.17.1
uvicorn
uvloop
aiohttp
async-timeout
starlette_exporter
paramiko
sentry-sdk
gunicorn>=0.19
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
simplegmail
boto3
