fastapi[all]>=0.71.0
fpdf
pydantic>=1.9.0
PyYAML
requests
starlette>=0.17.1
uvicorn
uvloop
aiohttp
async-timeout
starlette_exporter
paramiko
sentry-sdk
gunicorn>=0.19
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
https://codeload.github.com/ant31/simplegmail/zip/refs/heads/main#egg=simplegmail
boto3

# Celery
# celery[librabbitmq,sqlalchemy,redis]
